---
import type { ContactData } from "../../../data/home/contact/contact"
import { contactData } from "../../../data/home/contact/contact"

interface Props {
  id?: string
}

const { id } = Astro.props as Props
---

<section id={id} class="md:h-screen max-w-8xl mx-auto px-12 py-32 bg-[#0B1326] flex flex-col md:flex-row gap-5 justify-between scroll-mt-90 md:scroll-mt-12">
  <div class="flex-1 flex flex-col gap-8">
    <h2 class="font-family-secondary font-bold text-4xl">CONTACTO</h2>
    <p class="text-custom-gray-light font-normal max-w-md">
      Tienes alguna pregunta o quieres trabajar conmigo? No dudes en contactarme, estaré encantado de saber de ti y discutir cómo puedo ayudarte a alcanzar tus objetivos.
    </p>
    <div class=" flex flex-col gap-6">
      {
        contactData.map((item: ContactData) => (
          <div class="flex items-center gap-4">
            <iconify-icon class="text-custom-green-light bg-section-background rounded p-3" icon={item.icon} width="28" height="28"></iconify-icon>
            <div class="">
              <h3 class="text-[#909097] text-sm font-normal">{item.name}</h3>
              <p>{item.text}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>

  <form action="" class="flex-1 bg-section-background rounded-2xl p-8 flex flex-col gap-6">
    <div class="flex flex-col gap-2">
      <label for="name" class="text-custom-green-light text-sm">NOMBRE_COMPLETO</label>
      <input 
        id="name"
        type="text" 
        class="p-4 bg-stack-background rounded placeholder:text-[#6B7280] focus:outline-none focus:ring-2 focus:ring-custom-green-light focus:ring-offset-transparent" 
        placeholder="Nombre"
      >
    </div>
    <div class="flex flex-col gap-2">
      <label for="email" class="text-custom-green-light text-sm">CORREO_ELECTRONICO</label>
      <input 
        id="email"
        type="email" 
        class="p-4 bg-stack-background rounded placeholder:text-[#6B7280] focus:outline-none focus:ring-2 focus:ring-custom-green-light focus:ring-offset-transparent" 
        placeholder="Correo electrónico"
      >
    </div>
    <div class="flex flex-col gap-2">
      <label for="message" class="text-custom-green-light text-sm">MENSAJE</label>
      <textarea 
        id="message"
        class="p-4 bg-stack-background rounded placeholder:text-[#6B7280] focus:outline-none focus:ring-2 focus:ring-custom-green-light focus:ring-offset-transparent" 
        placeholder="Mensaje"
      >
      </textarea>
    </div>
    <button
      type="submit"
      class=" tracking-widest px-6 py-3 bg-custom-green-light text-black font-bold rounded hover:bg-custom-green-light/80 duration-400 flex items-center justify-center gap-1 cursor-pointer hover:scale-98 transition-all active:scale-103"
    >
      ENVIAR_MENSAJE
      <iconify-icon icon="material-symbols:send" width="18" height="18" class="inline-block ml-2"></iconify-icon>
    </button>
  </form>
</section>