---

---

<section class="h-[90vh] flex items-center justify-between gap-10 max-w-8xl mx-auto px-10">

  <div class="flex flex-col gap-4">
    <h1 
      class="font-family-secondary text-5xl lg:text-7xl tracking-wider leading-16 lg:leading-24 font-bold lg:w-5xl"
    >
      Desarrollador <span class="gradient__text">Full Stack</span> en formación. 
    </h1>

    <div class=" flex flex-col items-start lg:flex-row lg:items-center gap-6 lg:gap-20">
      <p class="text-base lg:text-lg text-muted-foreground mt-4 text-custom-gray-light w-md leading-relaxed">
        Soy estudiante de Ingeniería de Sistemas y desarrollo aplicaciones web y de escritorio con <span class="text-red-600">Laravel</span>, <span class="font-bold text-blue-600">React</span>, <span class="text-[#df3770]">Astro</span> y <span class="text-[#5429e1]">.NET</span>. Disfruto aprender nuevas tecnologías y construir proyectos que me permitan seguir mejorando como desarrollador.
      </p>

      <a 
        href="#projects"
        class="flex items-center bg-custom-green-light text-[#003824] px-5 py-4 font-semibold 
        hover:bg-[#3CCB8B] transition-colors duration-300"
      >
        EXPLORAR_PROYECTOS 
        <iconify-icon
          icon="solar:arrow-right-outline" 
          width="24" 
          height="24"
          class="ml-2"
        ></iconify-icon>
      </a>
    </div>
  </div>

</section>