---

---

<section class="h-[90vh] flex items-center justify-between gap-10 max-w-8xl mx-auto px-10">

  <div class="flex flex-col gap-4">
    <h1 
      class="font-family-secondary text-5xl lg:text-7xl tracking-wider leading-16 lg:leading-24 font-bold lg:w-5xl"
    >
      Desarrollo <span class="gradient__text">experiencias digitales de alto rendimiento</span> de principio a fin.
    </h1>

    <div class=" flex flex-col items-start lg:flex-row lg:items-center gap-6 lg:gap-20">
      <p class="text-lg text-muted-foreground mt-4 text-custom-gray-light w-md">
        Ingeniero de sistemas en constante evolución. Especializado en crear arquitecturas robustas con <span class="text-red-600">Laravel</span> y experiencias rápidas con <span class="font-bold text-blue-600">React</span> y <span class="text-[#df3770]">Astro</span>.
      </p>

      <a 
        href="#projects"
        class="flex items-center bg-custom-green-light text-[#003824] px-5 py-4 font-semibold 
        hover:bg-[#3CCB8B] transition-colors duration-300"
      >
        EXPLORAR_PROYECTOS 
        <iconify-icon
          icon="solar:arrow-right-outline" 
          width="24" 
          height="24"
          class="ml-2"
        ></iconify-icon>
      </a>
    </div>
  </div>

</section>